{
  "name": "cog-sample",
  "wp": {
    "menus": [
      {
        "name": "Footer Navigation",
        "location": "footer_navigation"
      }
    ],
    "cpt": [
      {
        "name": "Project",
        "slug": "project",
     }
    ]
  },
  "config": {
    "ADMIN_EMAIL": "troy@gearboxbuilt.com",
    "DEFAULT_PORT": "8888"
  }
}